@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        &-menu {
            display: none;

            span {
                background-color: #000;
                width: 37px;
                height: 3px;
                border-radius: 5px;
                display: block;
                margin: 6px 0;
            }
        }
    }
}

.logo {
    margin: 0 auto;
}

.menu {
    padding-right: 15px;
    
    &__list{
        display: flex;
    }

    &__list-item {
        padding-left: 35px;
        padding-right: 45px;
    }

    &__list-link {
        @extend %title-font;
        color: rgb(54, 56, 56, 0.933);
        position: relative;
        padding-bottom: 4px;

        &--active {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #979797;
                border-radius: 1px;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content{
        background-color: #DFDFDF;
        padding: 60px 0 80px;
    }

    &__info-title {
        color: $black-color;
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        text-transform: capitalize;
        margin-bottom: 14px;
    }

    &__info-text {
        max-width: 476px;
        margin-bottom: 16px;
    }

    &__copyright{
        text-align: center;
        color: #A1A1A1;
        background-color: $black-color;
        padding: 42px 0 41px;
    }

    &__form {
        display: flex;
    }

    &__form-input{
        padding: 6px 10px 6px 18px;
        height: 40px;
        width: clamp(13.75rem, 9.397rem + 21.76vw, 23rem);
        border-radius: 21px;
        background: transparent;
        border: solid 1px $black-color;
        padding-left: 18px;
        line-height: 28px;
        &::placeholder{
            color: #A1A1A1;
        }
    }

    &__form-button{
        cursor: pointer;
        margin-left: 10px;
        width: 160px;
        height: 40px;
        border: none;
        border-radius: 21px;
        color: #fff;
        font-size: 16px;
        line-height: 28px;
        background-color: $black-color;
        transition: all 0.2s ease-in;
        
        &:hover {
            background-color: rgba($black-color, 0.95);
        }
    }

    

    &__social-item {
        padding-left: 30px;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__social-link {
        position: relative;
        font-weight: 600;
        font-size: 14px;
        text-transform: capitalize;
        color: #707070;
        padding-left: 30px;
        &::before{
            position: absolute;
            content: '';
            top: 4px;
            left: 0;
            height: 16px;
            width: 16px;
        }
    }

    &__social-link--facebook::before{
        background-image: url(../images/icons/footer-icons/facebook.svg);
        background-repeat: no-repeat;
    }
    &__social-link--instagram::before{
        background-image: url(../images/icons/footer-icons/instagram.svg);
        background-repeat: no-repeat;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/icons/footer-icons/pinterest.svg);
        background-repeat: no-repeat;
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/icons/footer-icons/whatsapp.svg);
        background-repeat: no-repeat;
    }
    &__social-link--youtube::before{
        background-image: url(../images/icons/footer-icons/youtube.svg);
        background-repeat: no-repeat;
        width: 21px;
    }

    &__menu {
        margin-right: clamp(0rem, -2.09rem + 9.42vw, 3.75rem);
        width: 125px;
    }

    &__menu-link{
        font-weight: 600;
        font-size: 14px;
        text-transform: capitalize;
        color: #707070;
        
    }

    &__menu-item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.breadcrumbs {
    background-color: rgba(#DFDFDF, 0.5);
    padding: 13px 14px;
    position: relative;
    z-index: 15;
    &__link{
        font-size: 14px;
        line-height: 28px;
        color: $default-color;
    }

    &__item::after {
        content: '/';
        margin-left: -4px;
        margin-right: 4px;
        
    }

    &__item:last-child::after {
        display: none;
    }

    &__list {
        display: flex;
    }
}

.rside-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    z-index: 20;
    box-shadow: 20px -1px 20px 7px #0000006b;
    transition: all .5s ease-in-out;
    
    &.rside-menu--none{
        transform: translateX(100%);
        display: none;
    }

    &__close{
        position: absolute;
        top: 41px;
        left: 47px;
        background: transparent;
        border: none;
        padding: 0;

        cursor: pointer;
    }

    &__content {
        margin: 97px 95px 0 116px;
        text-align: center;
        max-width: 485px;
    }

    &-logo__img {
        margin: 0 auto;
    }

    &__logo {
        display: inline-block;
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 17px;
        padding-bottom: 15px;

        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        color: $black-color;
        position: relative;

        &::after{
            position: absolute;
            bottom: 0;
            left: 25%;
            content: '';
            width: 252px;
            height: 1px;
            background-color: #979797;
        }
    }

    &__text {
        margin-bottom: 75px;
    }

    &__img {
        max-width: 486px;
    }
}

.mobile-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    z-index: 20;
    box-shadow: 20px -1px 20px 7px #0000006b;
    transition: all .5s ease-in-out;
    &__close {
        position: absolute;
        top: 41px;
        left: 47px;
        background: transparent;
        border: none;
        padding: 0;

        cursor: pointer;
    }

    &__content{
        display: flex;
        flex-direction: column;
        margin: 100px 120px 0 49px;
        li {
            margin-bottom: 10px;
        }
    }

    &__link{
        color: $black-color;
        @extend %title-font;
    } 

    &.mobile-menu--none{
        transform: translateX(100%);
        display: none;   
    }

}

.top{
    
    &__inner {
        padding-bottom: 70px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(./../images/slider/main_slider.jpg);
            background-repeat: no-repeat;
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
        }
    }

    &__slider-item{
        display: flex !important;
        justify-content: center;
    }

    &__slider-img {
        margin-left: -12%;
        max-width: 703px;
        height: 815px;
        object-fit: cover;
    }

    &__slider-info{
        margin-top: 164px;
        margin-left: 20px;
    }

    &__slider-title {
        @extend %title-font;
        position: relative;
        color: $black-color;
        font-size: 110px;
        line-height: 135px;
        max-width: 635px;
        padding-bottom: 16px;
        margin-bottom: 26px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 185px;
            background-color: #979797;
            
        }
    }

    &__slider-text{
        max-width: 586px;
        font-size: 16px;
        line-height: 27px;
        color: $default-color;
    }

    
}

.new-collection {
    display: flex;
    align-items: center;
    text-align: center;

    &-title {
        position: relative;
        @extend %title-font;
        line-height: 51px;
        font-size: clamp(1.375rem, 0.958rem + 2.08vw, 2.25rem);
        color: $black-color;
        padding-bottom: 25px;
        margin-bottom: 25px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0;
            height: 1px;
            width: 250px;
            background-color: #979797;
        }
    }

    &-text {
        font-size: 16px;
        line-height: 27px;
        color: $default-color;
        max-width: 730px;
        margin: 0 auto 30px;
    }

    .collection{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 30px;
        padding-bottom: 104px;
        
        &-item {
            display: flex;
            align-items: center;
            position: relative;
            &:hover .collection__info{
                opacity: 1;
            }
        }

        &__images {
            min-height: 350px;
            object-fit: cover;
        }

        &__info {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#fff, .6);
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            transition: all 0.2s ease-in;
            
        }

        &__info-title {
            position: relative;
            @extend %title-font;
            font-size: 20px;
            color: $black-color;
            padding-bottom: 19px;
            margin-bottom: 19px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 0;
                height: 1px;
                width: 80%;
                background-color: #979797;
            }
        }

        &__info-text {
            color: #707070;
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
        }
    }
}

.decor {
    background-image: url(./../images/aesthetic-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    min-height: 616px;
    padding: 170px 0 155px;
    &__info {
        max-width: 540px;
    }

    &__info-title {
        position: relative;
        @extend %title-font;
        color: $black-color;
        font-size: clamp(1.875rem, 1.319rem + 2.78vw, 3.75rem);
        line-height: clamp(2.5rem, 1.759rem + 3.7vw, 5rem);
        padding-bottom: 22px;
        margin-bottom: 22px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            width: 200px;
            background-color: #979797;
        }
    }

    &__info-text{
        font-size: 16px;
        line-height: 28px;
        color: $default-color;
    }
}


.work-path {
    padding: 80px 0 30px;
    &__title {
        text-align: center;
        @extend %title-font;
        color: $black-color;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 41px;
    }

    &__items-box{
        display: flex;
        &--first{
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 2px solid rgba($black-color, 0.7);
            &::before {
                content: '';
                position: absolute;
                bottom: -6px;
                left: -2px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $black-color;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                right: -2px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $black-color;
            }
        }
    }


    &__item{
        width: 250px;
        margin-left: clamp(13.625rem, 1.164rem + 20.1vw, 18.75rem);

        display: flex;
        flex-wrap: wrap;

        &--design{
            margin-left: 0;
        }

        &:last-child{
            width: 263px;
        }

        &--production{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                height: 20px;
                width: 2px;
                background-color: $black-color;
                bottom: -41px;
                left: 0;
            }
        }

        &--measure{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                height: 20px;
                width: 2px;
                background-color: $black-color;
                top: -41px;
                left: 0;
            }
        }

        &--delivery{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                height: 20px;
                width: 2px;
                background-color: $black-color;
                top: -41px;
                left: 0;
            }
        }
    }

    &__item-title{
        display: flex;
        align-items: center;
        margin-left: 13px;
        @extend %title-font;
        color: $black-color;
    }
}

.gallery{
    padding: 80px 0 90px;
    &__buttons{
        text-align: center;
        margin-bottom: 40px;
    }
    &__btn {
        cursor: pointer;
        margin: 10px 13px;
        padding: 6px 16px;

        background-color: transparent;
        border-radius: 20px;
        border: 1px solid #8F8D8D;

        color: #8F8D8D;
        font-weight: 600;

        transition: all 0.2s ease-in;
        &:hover{
            background-color: rgba(255, 238, 53, 0.185);
            border: 1px solid #fff;
            color: #4d4d4d;
        }
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px 35px;
    }

    &__item:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }

    &__item img{
        object-fit: cover;
        width: 100%;
        max-height: 1150px;
        height: 100%;
    }

    &.gallery-page { 
        .gallery__item img {
            max-height: 1165px;
        }

        .gallery__item:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}

.mixitup-control-active{
    color: $black-color;
    border: none;
    background-color: rgba(255, 238, 53, .5);
    &:hover {
        color: $black-color;
        border: none;
        background-color: rgba(255, 238, 53, .5);
    }
}

.blog-box {
    margin-bottom: 62px;
    &__title {
        @extend %title-font;
        color: $black-color;
        font-size: 36px;
        line-height: 51px;
        max-width: 430px;
        margin: 0 auto 29px;
        text-align: center;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }

    &__img{
        margin-bottom: 19px;
        max-width: 539px;
        width: 100%;
    }

    &__links {
        margin-bottom: 7px;
        font-weight: 500;
        color: #707070;
        line-height: 28px;
        font-size: 14px;
        a{
            color: #707070;
        }
    }

    &__item{
        max-width: 540px;
        &-title {
            @extend %title-font;
            color: $black-color;
            font-size: 24px;
            line-height: 38px;
        }
    }
}


.about {
    &__prev{
        display: flex;
        align-items: center;
        background-image: url(./../images/about/prev.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        max-width: 1920px;
        height: 399px;
        margin-top: -53px;
        &-title {
            color: $black-color;
            @extend %title-font;
            font-size: 60px;
            line-height: 80px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 130px 0 40px;
    }

    &__title {
        max-width: 825px;
        color: $black-color;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 1px;
            background-color: #979797;
        }
    }

    &__text {
        padding-left: 284px;
        p{
            font-size: 16px;
            line-height: 27px;
            color: $default-color;
            &:first-child {
                margin-bottom: 40px;
            }
        }
    }

    &__popup {
        height: 414px;
        background-image: url(./../images/about/vid__popup.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.inspiration {
    padding-top: 98px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(./../images/about/inspiration-bg.jpg);
        height: 362px;
        z-index: -1;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        margin-right: 78px;
        margin-left: -230px;
    }

    &__title{
        position: relative;
        @extend %title-font;
        font-size: clamp(1.375rem,.958rem + 2.08vw,2.25rem);
        line-height: 60px;
        color: $black-color;
        padding-bottom: 16px;
        margin-bottom: 24px;
        &::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 2px;
            background-color: #979797;
            bottom: 0;
            left: 0;
        }
    }

    &__text {
        margin-bottom: 30px;
        font-size: 16px;
        color: $default-color;
        line-height: 27px;
    }

    &__content {
        max-width: 825px;
    }

    &__item {
        margin-bottom: 33px;
        &-text {
            @extend %title-font;
            color: $black-color;
            line-height: 23px;
        }
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 2px;
    }

    &__item-line {
        height: 2px;
        background-color: $black-color;
        border-radius: 4px;
        margin-top: -2px;
    }
}


.partners{
    padding: 16px 0 69px;
    &__items {
        display: flex;
        justify-content: space-between;
    }
}

.map {
    margin-top: -53px;
    margin-bottom: 50px;
}

.contact {
    padding-bottom: 100px;
    &__title {
        position: relative;
        @extend %title-font;
        color: $black-color;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background-color: #979797;
        }
    }
    &__content{
        padding-left: clamp(0rem, -6.364rem + 31.82vw, 17.5rem);
        p {
            color: #A1A1A1;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 10px;
        }

    }

    &__social {
        display: flex;
        width: 284px;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    &__phone {
        color: #5A5A5A;
    }

    &__city {
        margin-bottom: 16px;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__forms {
        max-width: 825px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
    }

    &__form-input {
        max-width: 407px;
        width: 50%;

        border: 1px solid #DFDFDF;
        border-radius: 20px;
        
        padding: 6px 17px;
    }

    &__form-area {
        max-width: 825px;
        height: 125px;
        margin-bottom: 20px;

        border: 1px solid #DFDFDF;
        border-radius: 24px;

        padding: 15px 17px;
        resize: none;
    }

    &__form-btn {
        cursor: pointer;
        max-width: 181px;
        border: none;
        padding: 6px 12px;
        color: #fff;
        background-color: $black-color;
        border-radius: 20px;
        transition: all 0.2s ease-in;
        
        &:hover {
            background-color: rgba($black-color, 0.95);
        }
    }

    &-slider__link {
        position: relative;
        
        padding: 10px;
        
    }

    &-slider{
        margin-bottom: 100px;
    }

    &-slider__title {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,.6);

        @extend %title-font;
        color: rgba($black-color, 0.95);
        line-height: 22px;
        font-size: 16px;
        transition: all 0.2s ease-in;
        

        &:hover {
            opacity: 1;
        }

        &-text {
            max-width: 140px;
            text-align: center;
        }
    }
}


.blog {
    padding: 60px 0 100px;   
    &__inner {
        display: flex;
        justify-content: space-between;
        
    }

    &__social {
        display: flex;
        justify-content: space-between;
        width: 155px;
        margin-bottom: 21px;
    }

    &__social-item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__social-link {
        position: relative;
        font-weight: 600;
        font-size: 14px;
        text-transform: capitalize;
        color: #707070;
        &::before{
            position: absolute;
            content: '';
            top: 4px;
            left: 0;
            height: 16px;
            width: 16px;
        }
    }

    &__social-link--facebook::before{
        background-image: url(../images/icons/footer-icons/facebook.svg);
        background-repeat: no-repeat;
    }
    &__social-link--instagram::before{
        background-image: url(../images/icons/footer-icons/instagram.svg);
        background-repeat: no-repeat;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/icons/footer-icons/pinterest.svg);
        background-repeat: no-repeat;
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/icons/footer-icons/whatsapp.svg);
        background-repeat: no-repeat;
    }
    &__social-link--youtube::before{
        background-image: url(../images/icons/footer-icons/youtube.svg);
        background-repeat: no-repeat;
        width: 21px;
    }

    &__category {
        margin-bottom: 48px;

        &-title {
            color: $default-color;
            @extend %title-font;
            line-height: 23px;
            margin-bottom: 12px;
        }


        &-item {
            margin-bottom: clamp(0.25rem, 0.031rem + 1.1vw, 0.75rem);
            &:last-child{
                margin-bottom: 0;
            }
        }

        &-link {
            color: $default-color;
            font-size: clamp(0.875rem, 0.82rem + 0.27vw, 1rem);
            font-weight: 400;
            line-height: 27px;
        }

    }

    &__tags{
        margin: 50px 0 21px;

        &-title {
            @extend %title-font;
            color: $black-color;
            line-height: 31px;
            font-size: 20px;
            margin-bottom: 6px;
        }

        &-link {
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #8F8D8D;
            padding: 0 16px;
            border: 1px solid rgba(#454647, 0.5);
            border-radius: 14px;
            transition: all 0.2s ease-in;
            background-color: #fff;
            margin-bottom: 5px;
            
            &:hover{
                background-color: rgba(255, 238, 53, 0.185);
                color: #4d4d4d;
            }
        }
    }

    &__items {
        max-width: 730px;
    }

    &__item {

        margin-bottom: 50px;

        &-info {
            margin-bottom: clamp(0rem, -0.247rem + 1.23vw, 0.563rem);
            font-size: clamp(0.75rem, 0.695rem + 0.27vw, 0.875rem);
        }
    
        &-img {
            max-width: 730px;
            margin-bottom: clamp(0.75rem, 0.421rem + 1.64vw, 1.5rem);
        }
    
        &-date {
            color: #707070;
            font-weight: 500;
            line-height: 28px;
        }
    
        &-author {
            color: #707070;
            font-weight: 500;
            line-height: 28px;
        }
        
        &-theme {
            color: #707070;
            font-weight: 500;
            line-height: 28px;
        }
    
        &-title {
            @extend %title-font;
            color: $black-color;
            font-size: clamp(1.188rem, 1.051rem + 0.68vw, 1.5rem);
            line-height: clamp(1.875rem, 1.656rem + 1.1vw, 2.375rem);
            margin-bottom: 6px;
        }
    
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: $default-color;
        }
    }

    &__blockquote {
        margin-bottom: 50px;
        padding: 54px 64px;
        background-color: rgba(223, 223, 223, 0.5);
        text-align: center;

    }

    &__blockquote-text {
        position: relative;
        color: $black-color;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        padding-bottom: 23px;
        margin-bottom: 23px;
        &::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: #979797;
            border-radius: 0.5px;
            left: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            
        }
        
    }

    &__blockquote-author {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; 
        color: $black-color;
        font-size: 16px;
        line-height: 22px;
    }
    
}

.article-slider {
    &__img {
        margin-bottom: 25px;
    }

    &__arrow {
        border: none;
        background-color: transparent;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        &-prev {
            left: 16px;
        }

        &-next {
            right: 16px;
        }
    }
}


.recent-posts {
    &__title {
        color: $default-color;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 12px;
    }

    &__item {
        max-width: 350px;
        margin-bottom: 11px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-title {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 27px;
        color: $default-color;
    }

    &__date {
        color: #A1A1A1;
        line-height: 28px;
        font-size: 14px;
    }

    &__author {
        color: #A1A1A1;
    }

}


.aside {
    margin-left: 30px;
    width: 350px;
    &__search {
        margin-bottom: 20px;
        max-width: 350px;
        position: relative;
    }

    &__search-input {
        
        width: 100%;
        border: 1px solid rgba($black-color, 0.7);
        border-radius: 20px;
        padding: 6px 0 6px 18px;
        &::placeholder{
            font-size: 14px;
            line-height: 28px;
            color: #A1A1A1;
            
        }
    }

    &__search-btn {
        position: absolute;
        cursor: pointer;
        background: none;
        border: none;
        padding: 12px 19px;
        right: 0;
    }

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        &-item {
            margin: 0 6px;
        }
    }

    &__arrow {
        margin: 0 6px;
    }

    &__arrow--invisible {
        opacity: 0;
        pointer-events: none;
    }

    &__list-num {
        font-weight: 600;
        font-size: 14px;
        color: #707070;

        &--active {
            color: #000;
        }
    }
}

.blog-one {
    &__item {
        max-width: 730px;
    }

    &__blockquote {
        padding: clamp(1.5rem, 0.952rem + 2.74vw, 2.75rem) 64px;
        background-color: #fff;
    }

    &__blockquote-text {
        position: relative;
        color: $black-color;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        padding-bottom: 23px;
        margin-bottom: 23px;
        &::after {
            content: '';
            position: absolute;
            width: 177px;
            height: 1px;
            background-color: #979797;
            border-radius: 0.5px;
            left: 0;
            bottom: 0;
            left: 0;
            
        }
        
    }

    &__blockquote-author {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; 
        color: $black-color;
        font-size: 16px;
        line-height: 22px;
    }

    &__text {
        p{
            font-size: clamp(0.813rem, 0.785rem + 0.14vw, 0.875rem);
            line-height: clamp(1.438rem, 1.328rem + 0.55vw, 1.688rem);
        }
    }

    &__tags{
        margin: 50px 0 21px;

        &-title {
            @extend %title-font;
            color: $black-color;
            line-height: 31px;
            font-size: 20px;
            margin-bottom: 6px;
        }

        &-link {
            margin:0 20px 5px 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: #8F8D8D;
            font-size: 14px;

            padding: 0 16px;
            border: 1px solid rgba(#454647, 0.5);
            border-radius: 14px;
            transition: all 0.2s ease-in;
            background-color: #fff;
            
            &:hover{
                background-color: rgba(255, 238, 53, 0.185);
                color: #4d4d4d;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 30px;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
    }
    
    &__link {
        display: flex;
        color: #707070;
        font-weight: 600;
        font-size: clamp(0.75rem, 0.695rem + 0.27vw, 0.875rem);
        line-height: clamp(1.375rem, 1.211rem + 0.82vw, 1.75rem);
        max-width: 270px;
        &-next {
            text-align: right;
            max-width: 216px;
            img {
                margin-left: 21px;
            }
        }

        &-prev {
            img {
                margin-right: 21px;
                width: 12px;
            }
        }
    }

    &__comments {
        margin-top: 35px;

        &-item {
            display: flex;
            justify-content: space-between;
        }

        &-avatar {
            height: 64px;
            width: 64px;
            margin-right: 13px;
        }

        &-name {
            @extend %title-font;
            color: $black-color;
            line-height: 16px;
            font-size: 16px;
        }

        &-date {
            font-weight: 300;
            font-size: 14px;
            line-height: 28px;
            color: #A1A1A1;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 16px;
            color: $default-color;
            line-height: 27px;
            max-width: 650px
        }
        
        &-reply {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
            color: #707070;
            padding: 0;
            width: 38px;
            height: 28px;
        }

        &-title {
            @extend %title-font;
            color: $black-color;
            line-height: 31px;
            font-size: 20px;
            margin-bottom: 9px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            &-title {
                @extend %title-font;
                color: $black-color;
                line-height: 31px;
                font-size: 16px;
                margin-bottom: 25px;
            }

            &-label {
                width: 100%;
                margin-bottom: 20px;
                font-size: 14px;
                color: #A1A1A1;
            }

        }
    
        &-forms {
            max-width: 825px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 13px;
        }
    
        &-form-input {
            max-width: 407px;
            width: 49%;
    
            border: 1px solid #DFDFDF;
            border-radius: 20px;
            
            padding: 6px 17px;
        }
    
        &-form-area {
            max-width: 825px;
            height: 125px;
            margin-bottom: 12px;
    
            border: 1px solid #DFDFDF;
            border-radius: 24px;
    
            padding: 15px 17px;
            resize: none;
        }
    
        &-form-btn {
            cursor: pointer;
            max-width: 181px;
            border: none;
            padding: 6px 12px;
            color: #fff;
            background-color: $black-color;
            border-radius: 20px;
            transition: all 0.2s ease-in;
            
            &:hover {
                background-color: rgba($black-color, 0.95);
            }
        }
    }
}

@import 'media';